{% extends 'main.html' %}

{% block content %}

    <div class="dashboard-wrapper">

        <div class="container-fluid  dashboard-content">

            <div class="row">

                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                    <h4>Meu Perfil</h4>
                    <p>Usuário: {{ username }}</p>
                    <p>Data de nascimento: {{ birthdate }}</p>
                    <p>Sexo: {{ sex }}</p>
                    <p>Email: {{ email }}</p>
                    <p>Token: {{ meu_token }}</p>

                </div>
                <form method="post" class="needs-validation" novalidate>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 "><br>
                        <button type="submit" value="Register" class="btn btn-primary btn-lg btn-block">Deletar seu
                            perfil!
                        </button>
                    </div>
                </form>


                {{ feedback }}

            </div>
        </div>
    </div>










{% endblock %}